{% extends 'blog/base.html' %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}
    <p>{{post.author}}</p>
    <h1>{{post.title}}</h1>
    <p>{{post.body}}</p>
    <p>{{post.created_at}}</p>
    <form method="post">
        {% csrf_token %} 
        {{ form }}
        <button type="submit">submit</button>
    </form>
    {% for comment in comments %}
        <h5>{{ comment.author}}</h5>
        <p>{{ comment.text }}</p>
        <p>{{ comment.created_at }}</p>
    {% endfor %}
{% endblock %}